
body {
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 10px;
}

h2,
p {
    margin: 2px;
}


#s {
    margin: 10px;
}

#green {
    color: hsl(75, 94%, 57%);
}

img {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    margin: 10px;
}

#container {
    background-color: hsl(0, 0%, 12%);
    width: 200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    width: 190px;
    height: 30px;
    margin: 5px auto;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 10px;
}

.button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}